
body{
    max-width: 600px;
    margin: auto;
}
div{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
#date{
    margin: 50px;
    background-color: azure;
    size: auto;
    position: absolute;
}