/**Afisati intr-o pagina web goala, alba, 
 * un div patrat de 20px pe 20px, de culoare albastra. 
 * Acest div trebuie sa pluteasca, initial, 
 * la 50 px de marginea stanga a paginii si 
 * la 50 pixeli de marginea de sus a paginii. 
 * Un click pe acest div, il va face sa se mute in coltul dreapta jos, 
 * la fel, la 50 px distanta atat de margina dreapta a paginii 
 * cat si de marginea de jos a paginii. */

 .firstClickBox {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    top:0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: blue;
}
.secondClickBox {
    position: absolute;
    margin-right: 50px;
    margin-bottom: 50px;
    bottom: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background-color: blue;
}

@media only screen and (max-width: 500px){
    .firstClickBox{
        margin-top: 5px;
        margin-left: 5px;
    }
    .secondClickBox{
        margin-bottom: 5px;
        margin-right: px;
    }
}