/** 7.1. Afisati intr-o pagina web goala, alba, 
 * un div patrat de 20px pe 20px, de culoare albastra. 
 * Acest div trebuie sa pluteasca, initial, 
 * la 50 px de marginea stanga a paginii si 
 * la 50 pixeli de marginea de sus a paginii. 
 * Un click pe acest div, il va face sa se mute in coltul dreapta jos, 
 * la fel, la 50 px distanta atat de margina dreapta a paginii 
 * cat si de marginea de jos a paginii. */

 .firstClickBox {
    position: fixed;
    left: 50px;
    top: 50px;
    height: 20px;
    width: 20px;
    background-color: blue;
}
.secondClickBox {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 20px;
    width: 20px;
    background-color: blue;
}

/** 7.2. Daca latimea ecranului devine mai mica de 500px, 
div-ul se va comporta la fel, 
doar ca in loc sa fie distanta de margini cu 50px, 
va deveni distanta doar cu 5px.**/

@media only screen and (max-width: 500px){
    .firstClickBox{
        top: 5px;
        left: 5px;
    }
    .secondClickBox{
        bottom: 5px;
        right: 5px;
    }
}