h1 {
  color: red;
  font: bold Arial;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
#myphoto {
  border-radius: 50%;
  margin: 5px 0px 5px 5px;
  max-width: 10%;
  display: block;
  float: left;
}
.elements{
  color:red;
  font: bold Arial;
  display: flex;
  align-items: center;
  background-color: lightgrey;
  transition-property: font-size;
  transition-duration: 3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  font-family: Arial, Helvetica, sans-serif;
}
.elements:hover{
  font: bold 30px arial;
}
th{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
td{
  margin-left: 40px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.role{
  font-style: italic;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.company{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
.years{
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
ul{
  padding-left: 2%;
}
src.details{
  border-radius: 50%;
  max-width: 5%;
  display: block;
  float: left;
}
.edu{
  font-weight: bolder;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
.studying{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}