h1 {
  text-align: center;
  vertical-align: middle;
  color: red;
}
h2 {
  color: red;
}
h3 {
  display: block;
  color: red;
}
#resume {
  padding-right: 10px;
  }
#photo{
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
}
#big{
  background-color: grey;
}
#text{
  text-indent: 20px;
  text-align: left;
#resume{
  width: 50px;
  } 
#details{
  border-radius: 50%;
}